.dashboard-container {
    background-color: #FEFAE0;
    padding: 100px;

    .dashboard-header {
        margin: 0;
        font-size: 2rem;
    }

    .dashboard-content {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .posts-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 auto;
    }

    .post-container {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 0 25%;
        margin: 20px;

        .post-content {
            padding: 20px;
            
            .title-header {
                margin: 0;
            }
        }
    }
}
