.details-container {
    background-color: #FEFAE0;
}

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    margin: 40px;
    padding: 40px;

    input {
        width: 600px;
        height: 20px;
        font-size: 1rem;
        border-radius: 15px;
        border: none;
        padding: 15px;
        margin: 10px 0;
    }

    textarea {
        width: 600px;
        height: 300px;
        font-size: 1rem;
        border-radius: 15px;
        border: none;
        padding: 15px;
        margin: 10px 0;
    }
}
