@import '../../variables/colors';

.nav-container {
	width: 100%;
	min-width: 100vw;
	min-height: 70px;
	background-color: $white;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 1.5rem;
	box-sizing: border-box;

	a {
		font-weight: 500;
		text-decoration: inherit;
		color: $dull-blue;
	}
	a:hover {
		color: $dark-blue;
		transition: color 0.1s ease-in-out;
	}

	.left-container {
		margin-right: auto;
		padding-left: 30px;
	}

	.right-container {
		padding-right: 30px;
		a {
			padding-left: 30px;
		}
	}

	.logout-btn {
		margin-left: 20px;
		padding: 10px 15px;
		font-size: 1.25rem;
		background-color: $dull-blue;
	}

	.logout-btn:hover {
		background-color: $light-blue;
		color: $dark-blue;
		transition: 0.2s ease-in-out;
	}
}
