.comments-container {
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    margin: 40px;
    padding: 40px;

    .comments-list div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .comment-item {
        border-bottom: 1px solid #D4A373;
    }

    label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 1.2rem;
        font-weight: 500;

        h3, h4, .comment-text {
            font-size: 1rem;
            font-weight: normal;
        }
    }
    button {
        margin: 10px;
        padding: 12px;
        width: 120px;
        font-size: 1rem;
        border-radius: 25px;
        background-color: #CCD5AE;
    }

    button:hover {
        color:#FEFAE0;
    }
}
